.container {
  margin: 16px 24px;
}

.recommendation {
  position: relative;
  display: inline-block;

  &__title {
    margin-bottom: 1.5rem;
  }

  &__form {
    margin-bottom: 3rem;
  }

  &__list {
    margin-bottom: 2rem;
  }

  &__score {
    position: absolute;
    bottom: 8px;
    right: 12px;
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 0 0px 8px rgba(0,0,0,0.25);
    font-weight: bold;
  }

  &__submit-btn {
    margin: -4px 0 0 12px;
  }

  &__description {
    color: #999;
  }

  &__input {
    width: 400px !important;
    display: inline-block;
  }

  &__input-label {
    font-size: 0.75rem;
  }

  &__highest-rating {
    position: absolute;
    top: 0.5rem;
    right: 10px;
    color: #e74c3c;
    font-weight: bold;
    display: none;
  }

  &__votes {
    position: absolute;
    top: 1.5rem;
    right: 10px;
    color: #e67e22;
    font-weight: bold;
    display: none;
  }

  &__favorites {
    position: absolute;
    top: 2.5rem;
    right: 10px;
    color: #f1c40f;
    font-weight: bold;
    display: none;
  }

  &:hover {
    .recommendation__highest-rating, .recommendation__votes, .recommendation__favorites {
      display: block;
    }
  }
}

