.container {
  @include span-columns(12);
  background-color: #f7f8fa;
  padding: 20px 25px;
}

.header {
  background-color: #0099e5;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  border-bottom: 1px solid #0088cc;
  color: #fff;
  height: 50px;

  &__left {
    @include span-columns(6);
  }

  &__right {
    @include span-columns(6);
    text-align: right;
    padding-right: 25px;
  }

  &__logo {
    height: 20px;
    margin: 15px 25px;
  }

  &__title {
    font-weight: lighter;
    font-size: 26px;
    display: inline-block;
    position: absolute;
    line-height: 50px;
    margin: 0;
  }

  &__form {
    margin-top: 10px;
  }

  &__submit-btn {
    margin: -4px 0 0 12px !important;
    background-color: transparent !important;
    border: 1px solid #fff !important;
    padding: 0 10px !important;
    height: 30px !important;
  }

  &__input {
    width: 200px !important;
    height: 30px !important;
    display: inline-block;
    color: #525558;
  }

  &__input-label {
    font-size: 0.75rem;
  }
}

.recommendation {
  position: relative;
  display: inline-block;

  &__header {
    @include span-columns(12);
    text-align: center;
    border-bottom: 1px solid #eeeff2;

    &__avatar {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      margin-top: -30px;
      border: 2px solid #fff;
    }

    &__description {
      color: #525558;
      font-weight: lighter;
      font-size: 20px;
      margin: 0 0 10px 0;
    }
  }

  &__list {
    margin-bottom: 2rem;
  }

  &__score {
    position: absolute;
    bottom: 8px;
    right: 12px;
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 0 0px 8px rgba(0,0,0,0.25);
    font-weight: bold;
  }

  &__highest-rating {
    position: absolute;
    top: 0.5rem;
    right: 10px;
    color: #e74c3c;
    font-weight: bold;
    display: none;
  }

  &__votes {
    position: absolute;
    top: 1.5rem;
    right: 10px;
    color: #e67e22;
    font-weight: bold;
    display: none;
  }

  &__favorites {
    position: absolute;
    top: 2.5rem;
    right: 10px;
    color: #f1c40f;
    font-weight: bold;
    display: none;
  }

  &:hover {
    .recommendation__highest-rating, .recommendation__votes, .recommendation__favorites {
      display: block;
    }
  }
}
