.container {
  margin: 16px 24px;
}

.recommendation {
  position: relative;
  display: inline;

  &-title {
    margin-bottom: 1.5rem;
  }

  &-score {
    position: absolute;
    bottom: 8px;
    right: 12px;
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 0 0px 8px rgba(0,0,0,0.25);
    font-weight: bold;
  }
}
